* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.divResponse {
  margin-top: 20px;
}

.response {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
}